# Virtual Environment
**.venv/
.venv/
venv/
env/
.env/
*.pyc

# all files
*.csv

# Specific files
Project3/airplane
Project3/car
Project3/motorbike
Project3/vehicles_dataset.npz
Project3/DataProcessor.py
__pycache__/
Assignment2-ANN/
AIT-204-NLP/results/
AIT-204-NLP/*.md
AIT-204-NLP/sentiment_model_7point/
.git-old
NER/annotation_tool.py
NER/dataset_alternatives.py
NER/model_evaluation.py
NER/ner_pipeline.py
NER/preprocessor.py
NER/QUICKSTART.py
NER/HOW_TO_RUN_APP.md
